*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #cec8c8;
  border-radius: 5rem;
}

body{
  background: #f1f0f0;
}


a{
  outline: none;
  border: none;
}